@model City
@{
    ViewData["Title"] = "Detail";
}

<h2>Detail</h2>
<table class="table table-striped">
    <tbody>
        <tr>
            <td>Name:</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Country:</td>
            <td>@Model.CountryCode</td>
        </tr>
        <tr>
            <td>District:</td>
            <td>@Model.District</td>
        </tr>
        <tr>
            <td>Population:</td>
            <td>@Model.Population</td>
        </tr>
    </tbody>
</table>
<br />
<a asp-controller="City" asp-action="Update" asp-route-id="@Model.CityId">Modify this city</a>
<br />
<a asp-controller="City" asp-action="Delete" asp-route-id="@Model.CityId">Delete this city</a>
